---
---

ul {
    margin-top: .25em; /* Decrease the top margin */
    margin-bottom: .25em; /* Decrease the bottom margin */
    font-size: .75em;
  }
  
ul li {
    margin-top: 0.1em; /* Decrease the top margin of each list item */
    margin-bottom: 0.1em; /* Decrease the bottom margin of each list item */
  }

